body { 
    color:black;
    background-color: rgb(119, 9, 9);
    margin: 0px;
    font-family: "Merriweather", serif;
    margin-bottom: 100px;
}

heaeder {
    bord-bottom: solid 2px rgb(42, 122, 228)
    padding:20px
    font-size:32px
    color: rgb(42, 122, 228);
     }

     .chamada{
        background: rgb(19, 100, 100);
        padding-bottom:80px
        padding-top:80px
        display:flex;
        justify-content:center;
     }

     div {
        margin-right:20px
     }

     h1{
        font-size: 40px;
     }

     p {
                 font-size:20px
     }
     img {
      height: 300px;
     }

     .categoria_videos {
         display:flex;
         overflow-x:auto;
         gap:10px;
     }

     .categoria{
        padding-left:20px;
        padding-right:20px
        margin-top: 50px
     }

.categoria-viddeos img{
   opacity: 0.5;
   height: 200px;

}
.categoria-viddeos:hover {
 opacity: 1.0;
 border: 1px solid purple;
}

.categoria h2{
    color:rgb(42, 122, 228);
}